/* public */
html { }
body { color: #333; font-family: "풻", Arial; font-size: 12px; background: #f2eee4; line-height: 1.41; }
a { color: #735b20; text-decoration: none; outline: none; }
a:hover { color: #4391ea; }
/*header*/
#header { position: relative; height: 80px; background: url(../images/header.jpg) no-repeat center top; }
#header .bd { }
/*nav*/
#nav { height: 40px; background-color: #000; }
#nav .bd { }
.navul { float: left; border-left: 1px solid #444; }
.navul li { float: left; line-height: 40px; font-family: "풕턼환쥌"; font-size: 14px; position: relative; }
.navul li a { display: block; color: #aaa; width: 150px; text-align: center; border-right: 1px solid #444; }
.navul li a:hover { background-color: #333; }
.navul li a.on { background-color: #8dcc00; color: #fff; }
.toolsul { position: relative; float: right; }
.toolsul li { width: 46px; height: 40px; position: relative; float: left; }
.toolsul li a { display: block; height: 20px; padding: 10px 10px; position: relative; }
.toolsul li a:hover { background-color: #333; }
.toolsul li .ico { width: 20px; height: 20px; display: block; overflow: hidden; margin: auto; }
.toolsul li .num { position: absolute; right: 1px; top: 1px; height: 15px; padding: 0 4px; line-height: 15px; background-color: #f80; border-radius: 30px; display: inline-block; text-align: center; color: #fff; font-size: 12px; font-family: "풕턼환쥌"; }
.icon-message { background: url(../images/icon-message.png) no-repeat center center; }
.icon-cog { background: url(../images/icon-cog.png) no-repeat center center; }
.icon-quit { background: url(../images/icon-quit.png) no-repeat center center; }
/*subtools*/
.subtools { border-bottom: 1px solid #e1ddd3; padding: 10px 0; -webkit-user-select: none; }
.subtools .hd { float: left; line-height: 24px; }
.subtools .hd .tit { font-weight: bold; font-size: 14px; color: #746746; }
.subtools .bd { float: right; }
.subtools .search { float: left; }
.subtools .search em { float: left; line-height: 24px; color: #616160; }
.subtools .search .input { float: left; border: 1px solid #bfb9b3; outline: none; height: 24px; border-radius: 20px 0 0 20px; padding: 0 10px; color: #616160; }
.subtools .search .button { float: left; border-radius: 0 20px 20px 0; height: 24px; background-color: #ab9e7e; outline: none; border: none; padding: 0; width: 50px; color: #fff; }
.subtools .search .button:active { background-color: #8b7d5c; }
.subtools .link { float: left; line-height: 24px; margin-left: 20px; }
.subtools .filtrate{ float:left; margin-left:20px; position:relative;}
.subtools .filtrate .btn-filtr{line-height: 24px; display:inline-block; vertical-align:middle; color:#3d388a;}
.subtools .filtrate .icon-filtr{ margin-right:5px;}
.icon-filtr{ width:12px; height:12px; display:inline-block; overflow:hidden; vertical-align:-2px; background:url(../images/icon-filtr.png) no-repeat;}
.filtrbox{ position:absolute; top:24px; right:0; padding-top:9px; background:url(../images/icon-caret-up.png) no-repeat right top; display:none;}
.filtrbox .filtrbox-bd{ padding:15px;background-color:#fff;}
.filtrbox .filtrbox-bd dl{ overflow:hidden; margin-bottom:15px;}
.filtrbox .filtrbox-bd dl dt{ float:left; width:50px; text-align:left; line-height:24px;}
.filtrbox .filtrbox-bd dl dd{ margin-left:52px;}
.filtrbox .filtrbox-bd .btns{ text-align:right;}
.filtrbox .filtrbox-bd .btns .btn-seek{ width:100%; text-align:center; line-height:24px;height:26px; border-radius:20px; outline:none; background-color:#ab9e7e; border:none; color:#fff;}
.filtrbox .filtrbox-bd .btns .btn-seek:active{ background-color:#928461;}
.filtrbox .input{ padding:0 10px; height:24px; width:160px;}
/*figurelist*/
.figurelist { overflow: hidden; margin-top: 10px; }
.figurelist ul { overflow: hidden; margin-top: -1px; margin-left: -30px; }
.figurelist ul li { border-top: 1px dotted #d1c0a5; width: 300px; float: left; margin-left: 30px; }
/*.figItem*/
.figItem { overflow: hidden; padding: 20px 0; }
.figItem .pic { float: left; border-radius: 50px; box-shadow: 0 1px 1px rgba(100, 100, 100, .15); width: 82px; height: 82px; background-color: #fff; }
.figItem .pic a { border-radius: 50px; width: 70px; height: 70px; display: block; margin: auto; padding-top: 6px; }
.figItem .pic img { border-radius: 50px; width: 70px; height: 70px; }
.figItem .pic a:hover { margin: 0; padding-top: 0; }
.figItem .pic a:hover img { width: 82px; height: 82px; }
.figItem .cont { font-family: "풕턼환쥌"; margin-left: 92px; }
.figItem .cont .title { margin-bottom: 15px; }
.figItem .cont .title .name { font-size: 14px; color: #116a2a; }
.figItem .cont .title .focuson { color: #7e90b2; float: right; vertical-align: top; }
.icon-focus { width: 15px; height: 15px; display: inline-block; margin-right: 5px; overflow: hidden; background: url(../images/icon-focus.png) no-repeat center center; }
.figItem .cont p { line-height: 22px; margin: 0; }
.loadmore { position: relative; }
.btn-more { background-color: #fff; border-radius: 20px; width: 100%; display: block; text-align: center; font-size: 14px; padding: 8px 0; }
.column-1 { width: 660px; float: left; }
.column-2 { width: 270px; float: right; }
 
/*dynamic*/
.dynamic { background-color: #fff; position: relative; }
.dynamic .hd { font-family: "풕턼환쥌"; height: 60px; padding: 0 30px; background-color: #fafafa; }
.dynamic .hd .tit { font-size: 16px; color: #6d8ba7; line-height: 60px; }
.dynamic .hd .more { color: #6d8ba7; float: right; vertical-align: top; margin-top: 22px; overflow: hidden; }
.dynamic .hd .more em { display: inline-block; float: left; }
.dynamic .hd .more .icon-add { margin-left: 4px; float: left; }
.icon-add { width: 14px; height: 14px; display: inline-block; overflow: hidden; vertical-align: middle; background: url(../images/icon-add.png) no-repeat center center; }
.dynamic .bd { padding: 15px 30px; }
/*ditem*/
.ditem { border-bottom: 1px dotted #d1c0a5; padding: 12px 0; }
.ditem:last-child { border-bottom: 0; }
.ditemhd { color: #999; line-height: 20px; }
.ditemhd .time { float: right; }
.ditemhd .who { vertical-align: middle; }
.ditemhd .who .pic { margin-right: 10px; display: block; float: left; }
.ditemhd .who .pic img { width: 20px; height: 20px; border-radius: 50%; box-shadow: 0 1px 1px rgba(100, 100, 100, .15); }
.ditemhd .who .name { margin-right: 6px; }
.ditem .title { font-weight: bold; font-size: 14px; padding: 10px 0; }
.ditem .title a { color: #6d8ba7; }
.ditembd { position: relative; }
.ditembd .hotnum { width: 38px; height: 24px; line-height: 24px; text-align: center; float: left; }
.ditembd .hotnum a { display: block; color: #698EBF; background-color: #eff6fa; border-radius: 3px; font-family: 'Helvetica Neue', Helvetica, Arial, Sans-serif; text-decoration: none; overflow: hidden; }
.ditembd .hotnum a:hover { background-color: #698ebf; color: #fff; }
.ditembd .cont { margin-left: 50px; }
.ditembd .cont .name { color: #6a624e; font-weight: bold; line-height: 24px; margin-bottom: 3px; }
.ditembd .cont .summary { line-height: 22px; color: #89857c; }
.ditembd .cont .feed-meta { padding-top: 10px; }
.ditembd .cont .feed-meta a { vertical-align: middle; display: inline-block; line-height: 1.7; margin-right: 12px; font-family: Arial, sans-serif; }
.ditembd .cont .feed-meta a em { margin-right: 5px; float: left; margin-top: 4px; }
.icon-add-small { width: 12px; height: 12px; display: inline-block; overflow: hidden; vertical-align: middle; background: url(../images/icon-add-small.png) no-repeat center center; }
.icon-comment { line-height: 1; width: 12px; height: 12px; display: inline-block; overflow: hidden; vertical-align: middle; background: url(../images/icon-comment.png) no-repeat center center; }
.essay { color: #6a624e; line-height: 2; vertical-align: top }
/*userInfo*/
.userInfo { background-color: #fff; position: relative; padding: 30px; color: #6a624e; }
.userInfo .hd { margin-bottom: 30px; }
.userInfo .hd .pic { float: left; }
.userInfo .hd .pic img { }
.userInfo .hd .cont { margin-left: 96px; }
.userInfo .hd .cont .title { font-family: "풕턼환쥌"; margin-bottom: 9px; }
.userInfo .hd .cont .title .name { font-size: 18px; font-weight: bold; color: #116a2a; }
.userInfo .hd .cont .title .focuson { color: #7e90b2; float: right; vertical-align: top; }
.userInfo .hd .cont p { margin: 0; line-height: 22px; }
/*baseInfoWrap*/
.baseInfoWrap { display: block; position: relative; z-index: 10; background: url(../images/baseInfoBarBg.png); }
.baseInfoLeft { float: left; width: 285px; }
.baseInfoRight { float: right; width: 285px; }
.biOpen,.biClose { position: absolute; color: #999; line-height: 12px; *line-height:14px;
width: 36px; text-align: right; cursor: pointer }
.biItem { zoom: 1; line-height: 26px; position: relative }
.biItem .biItemInner { zoom: 1; position: relative; overflow: hidden }
.biItem .biItemInner .biTitle { display: block; float: left; width: 78px; padding: 0 5px 0 12px; }
.biItem .biItemInner .biContent { zoom: 1; color: #333; width: 180px; float: left; position: relative }
.biItem .biItemInner .biContent .biOpen { bottom: 6px; right: 14px }
.biItem .biOpenItem { display: none; position: absolute; left: 0; top: -4px; border: 1px solid #d4d4d4; padding: 3px 11px; background: #fbfbfb; overflow: hidden; box-shadow: 0 1px 5px #ddd; z-index: 56 }
.biItem .biOpenItem .biOpenItemCon { overflow: hidden }
.biItem .biOpenItem .biOpenItemCon .biOpenTitle { display: block; width: 78px; float: left; color: #999; font-weight: bold; padding-right: 5px }
.biItem .biOpenItem .biOpenItemCon .biOpenContent { width: 288px; float: left }
.biItem .biOpenItem .biClose { right: 13px; bottom: 10px }
.biItem .biOpenItem .biOpenCoverUp { position: absolute; bottom: 0; left: 0; width: 424px; height: 4px; z-index: 1; background: #fbfbfb; overflow: hidden }
.biHightHierarchy { z-index: 58 }
.biItemHidden { display: none }
.biBorderBottom { position: absolute; left: 0; bottom: 0; width: 790px; height: 1px; background: #eee }
.baseInfoWrap a { text-decoration: none }
.baseInfoWrap a:hover { text-decoration: underline }
/*picalbum*/
.picalbum { background-color: #fff; }
.picalbum .bd { padding: 10px; }
.picalbum .bd .pic { position: relative; }
.picalbum .bd .pic img { width: 100%; }
.picalbum .bd .title { font-size: 16px; height: 22px; margin: 6px 0; font-family: "풕턼환쥌"; color: #6d8ba7; vertical-align: middle; line-height: 22px; }
.picalbum .bd .title .name { margin-left: 10px; display: inline-block; }
.icon-pic { width: 22px; height: 22px; display: inline-block; overflow: hidden; vertical-align: middle; background: url(../images/icon-pic.png) no-repeat center center; }

/*mesgroup*/
.mesgroup{ position:relative; overflow:hidden;}
.mesblock { overflow: hidden; margin-bottom:20px;}
.mesblock .user { float: left; border-radius: 50px; box-shadow: 0 1px 1px rgba(100, 100, 100, .15); width:72px; height:72px; background-color: #fff; }
.mesblock .user a { border-radius: 50px; width: 60px; height: 60px; display: block; margin: auto; padding-top: 6px; }
.mesblock .user img { border-radius: 50px; width:60px; height:60px; }
.mesblock .user a:hover { margin: 0; padding-top: 0; }
.mesblock .user a:hover img { width: 72px; height: 72px; }
.mesblock .mescont { font-family: "풕턼환쥌"; margin-left:100px; background:url(../images/icon-caret-left.png) no-repeat 0 31px; padding-left:10px;}
.mesblock .mescont .mesiner{ background-color:#fff;}
.mesblock .mescont .mesiner .title{ padding:15px 25px; padding-bottom:10px;}
.mesblock .mescont .mesiner .title .name{ color:#39F; font-size:16px;}
.mesblock .mescont .mesiner .title .time{ margin-left:10px; color:#999; font-family: Helvetica, Arial, sans-serif;}
.mesblock .mescont .mesiner .summary{font-size:14px; line-height:22px;padding:0 25px; padding-bottom:15px;}
.mesblock .mescont .mesiner .summary img{ max-width:100%;}
.mesblock .mescont .mesiner .mesbot{ background-color:#fafafa; color:#5d7895;padding:10px 25px; padding-bottom:20px;}
.mesblock .mescont .mesiner .mesbot .tools{ margin-bottom:5px;}
.mesblock .mescont .mesiner .mesbot .tools .tools-line{font-size: 0;width: 1px;height: 11px;margin-right: 9px;border-width: 0 1px 0 0;border-style: solid;overflow: hidden;display: inline-block;
line-height: 0;vertical-align: -3px;border-color: #e0e0e0;}
.mesblock .mescont .mesiner .mesbot .tools a{color:#5d7895; height: 16px;display: inline-block;padding: 6px 8px;margin: 0 8px 0 0;vertical-align: middle;}
.icon-com{margin-right: 7px;vertical-align: -3px; width:15px; height:15px; display:inline-block; font-size:0; overflow:hidden;  background:url(../images/icon-com.png) no-repeat;}
.icon-praise{margin-right: 7px;vertical-align: -3px;width:15px; height:15px; display:inline-block; font-size:0; overflow:hidden;  background:url(../images/icon-praise.png) no-repeat;}
.mod-comments{}
.mod-commnets-poster{ position:relative;}
.mod-comments .textinput{padding:0 10px;border:1px solid #e6e6e6; background-color:#fff; }
.mod-comments .textinput .input{width:100%;border:none; box-sizing:content-box; outline:none; padding:0; height:28px; line-height:28px; font-size:12px; font-family:"풕턼환쥌"; }
.mod-comments .insert-img{border:1px solid #e0e0e0; }
.btn-insert-img{}
.icon-picture{}
.mod-comments .quick-comment{position:absolute; right:0; top:0px;}
.btn-quick-comment{border:1px solid #e0e0e0; color:#aaa; height:28px; line-height:28px; width:70px; text-align:center; display:block;}
.mesbot:hover .btn-quick-comment{background-color:#39F;border:1px solid #39F; color:#fff; }
.btn-quick-comment:active{ background-color:#257ad0 !important}

/*myfamily*/
.myfamily{}
.myfamily .hd{ border-bottom:1px solid #e1ddd3; padding-bottom:12px;}
.myfamily .hd .tit{ font-size:14px;font-family:"풕턼환쥌";}
.myfamily .hd .more{ float:right;}
.icon-cre-src{width:20px; height:20px; display:inline-block; font-size:0; overflow:hidden;  background:url(../images/icon-cre-src.png) no-repeat; background-size:cover;}
.myfamily .bd{ overflow:hidden;}
.myfamily .bd ul{ overflow:hidden; margin-top:-1px;}
.myfamily .bd ul li{ border-top:1px dotted #d1c0a5;}
/*.myItem*/
.myItem { overflow: hidden; padding: 20px 0; }
.myItem .pic { float: left; border-radius: 50px; box-shadow: 0 1px 1px rgba(100, 100, 100, .15); width: 82px; height: 82px; background-color: #fff; }
.myItem .pic a { border-radius: 50px; width: 70px; height: 70px; display: block; margin: auto; padding-top: 6px; }
.myItem .pic img { border-radius: 50px; width: 70px; height: 70px; }
.myItem .pic a:hover { margin: 0; padding-top: 0; }
.myItem .pic a:hover img { width: 82px; height: 82px; }
.myItem .cont { font-family: "풕턼환쥌"; margin-left: 92px; }
.myItem .cont .title { margin-bottom:5px;color: #7e90b2;  }
.myItem .cont .title .name { font-size: 14px; color: #116a2a; margin-right:10px;}
.myItem .cont .title .focuson { color: #7e90b2; float: right; vertical-align: top; }
.myItem .cont p { line-height:20px; margin:0; vertical-align:top; color:#7e7357;}

/*footer*/
.footer { padding-top: 40px; padding-bottom: 30px; }
.footer .bd { text-align: center; color: #a19372; }
.footer .copyright { color: #a19372; font-family: Arial; }


/*formgroup*/
.formgroup{ background-color:#fff;}
.form-hd{ font-family: "풕턼환쥌";height:70px;padding: 0 50px;background-color: #FAFAFA;}
.form-hd .form-tit{font-size:22px; font-family:"풕턼환쥌";color: #6D8BA7;line-height: 70px;}
.form-bd{ padding:40px; padding-top:30px;}
.formtable{}
.formtable td{ padding:10px; font-size:14px;}
.formtable td .dt{ font-size:16px; font-family:"풕턼환쥌";}
/* formCss */
.txt-input{ box-sizing:content-box;font-family:Arial,sans-serif,"풻"; height: 28px;padding:0px 5px;border: 1px solid #CDD3DA;line-height: 28px;font-size:14px;color: #333;width: 250px;background-color: #F6F7FA;}
.txt-input:focus{ outline:1px solid #bbb;}
.txt-area{ font-family:Arial,sans-serif,"풻"; height:72px; width:230px;  line-height:1.3; padding:5px 11px; border:1px solid #e0e6e8; outline:none; background-color:fff;}
.txt-area-big{ width:370px; height:100px;}
.select{box-sizing:content-box; width:250px; height: 28px;padding:0px 5px;border: 1px solid #CDD3DA;outline:none; background-color:#F6F7FA;font-size: 14px;}
.checkbox{ -webkit-appearance: none; -webkit-margin-start: 0; -webkit-margin-end:0px; background:#fff;  border: 1px solid #e0e6e8; display: inline-block; height:20px; margin-bottom: 0; margin-top: 0; position: relative; top: 3px;vertical-align: baseline; width:20px;margin-top: 0;top: 0;vertical-align: top;}
.checkbox:checked{ border:1px solid #319114;}
.checkbox:checked::before { color:#2f8d13; content: url('../images/checkmark.png'); font-size:13px; height:16px; left:0; top:0; position: absolute;}
.radio{ -webkit-appearance: none; -webkit-margin-start: 0; -webkit-margin-end: 3px; -webkit-transition: border 500ms; border-radius: 100%; border: 1px solid #50a137;display: inline-block;  height: 19px; margin-bottom:0;position: relative;top: 3px;vertical-align: baseline;  width: 19px;}
.radio:checked::before { background: #319114; border-radius: 10px; content:''; display: inline-block; font-size:13px; font-weight: 400; height:9px; left:4px;  margin-top:4px; opacity: 1;  position: absolute; top: 0; vertical-align: top; width:9px;}
.radiolab{ line-height:18px;display:inline-block; font-size:16px; vertical-align:middle;}
.cbx-label{ display:inline-block;}
.cbx-label span{ font-size:14px; margin-left:8px; line-height:20px;}
.input-100{ width:60px;}
.input-200{ width:120px;}
.hr{ border-top:1px solid #eee; margin-top:20px; height:0; margin-bottom:20px;}
.btn-save{ width:120px; height:36px; font-family:"풕턼환쥌"; cursor:pointer;background-color:#50A137; border:none; color:#fff; font-size:16px;}
.btn-save:active{ background-color:#3A8822;}