/* here you can put your own css to customize and override the theme */
.margin-top-160 {
  margin-top: 160px !important;
}

.margin-bottom-160{
  margin-bottom: 160px !important;
}

.margin-top-240 {
  margin-top: 240px !important;
}

.margin-bottom-240{
  margin-bottom: 240px !important;
}

 